<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Login</title>
</head>

<body>
    <div class="container" style="margin: 250px auto 0 auto;">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card-panel grey lighten-3">
                    <div class="row">
                        <form class="col s12" method="POST" action="/login">
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field col s12">
                                        <input id="email" name="email" type="text" class="validate">
                                        <label for="email">Email</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password" name="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <p class="center-align">
                                                <button class="btn waves-effect waves-light green darken-3"
                                                    style="width: 95%; margin-bottom: -15%; margin-top: -10%;"
                                                    type="submit" name="action">Log in
                                                    <i class="material-icons right"></i>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <p class="center-align">Don't have an account yet? Sign up today!</p>
                        <form action="/create/user" method="GET">
                            <div class="col s12">
                                <p class="center-align">
                                    <button class="btn waves-effect waves-light blue darken-3"
                                        style="width: 95%; margin-top: -5%;" type="submit" name="action">Sign up
                                        <i class="material-icons right"></i>
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="center-align">
                    <p>Made by Thomas Vindelev & Nick Hansen / 2020</p>
                    <p><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="20" height="20" /> - <a
                            href="https://github.com/ThomasVindelev" class="center-align">Thomas Vindelev</a></p>
                    <p><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="20" height="20" /> - <a
                            href="https://github.com/nickkisbye" class="center-align">Nick Hansen</a></p>
                </div>
            </div>
        </div>
    </div>
   

</body>

</html>